<app-navegacion></app-navegacion>

<div class="container" style="margin-top: 100px;">
    <div [formGroup]="dataForm" class="input-group mb-3">
        <input type="text" class="form-control" id="tituloPelicula" formControlName="tituloPelicula"
            placeholder="Titulo pelicula" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <input type="text" class="form-control" id="tituloPelicula" formControlName="anioPelicula"
            placeholder="Año pelicula" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <button (click)="buscar()" type="button" class="btn btn-secondary">Buscar</button>

    </div>

    <div class="container">
        <div class="row">
            <div *ngIf="peliculas.length > 0">
                <div *ngFor="let pelicula of peliculas" class="col">
                    <div class="card" style="width: 18rem;">
                        <img [src]="pelicula.Poster" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{pelicula.Title}}</h5>
                            <h4>{{pelicula.Year}}</h4>
                            <p class="card-text">{{pelicula.Ratings.Source}}</p>
                            <p class="card-text">{{pelicula.Ratings.Value}}</p>
                            <a href="descripcion" class="btn btn-primary">Ver mas</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>